option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgresql://easypass_admin:Techcenter616%23@easypass-db.c1c0mo04sxcn.us-east-2.rds.amazonaws.com:5432/postgres"
    SESSION_SECRET: "xK9mP3vN2qW7eR8tY5uI1oP4aSdFgHjKlZxCvBnM0qW="
    ADMIN_EMAIL: "info@lbsconnect.net"
    NODE_ENV: "development"
    PORT: "8080"
    APP_DOMAIN: "myeasypass.us-east-2.elasticbeanstalk.com"
